In [ ]:
#Import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Load dataset
from google.colab import drive
drive.mount('/content/drive')
Data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Branch.xlsx')

Mounted at /content/drive

In [ ]:
#Initial check
print(Data.head(5))
print('\n')
print(Data.dtypes)
print('\n')
print(Data.info())
print('\n')
print(Data.isnull().sum())
print('\n')
print(Data.duplicated().sum())

In [ ]:
#Drop the empty row
Data = Data.drop(index=0).reset_index(drop=True)

In [ ]:
#Preprocessing - rename the headers

Data.rename(columns={
               'Unnamed: 0': 'State',
               'Unnamed: 2': 'MonthNumeric',
               'Unnamed: 3': 'CustomerName',
               'Unnamed: 5': 'VisitorName',
               'Unnamed: 6': 'ProductName',
               'Unnamed: 7': 'ProductGroup',
               'Unnamed: 8': 'Cartons',
               'Unnamed: 10': 'NetSales',
               }, inplace=True)

print(Data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114164 entries, 0 to 114163
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   State         114164 non-null  object
 1   Unnamed: 1    114164 non-null  object
 2   MonthNumeric  114164 non-null  object
 3   CustomerName  114164 non-null  object
 4   Unnamed: 4    74342 non-null   object
 5   VisitorName   114148 non-null  object
 6   ProductName   114164 non-null  object
 7   ProductGroup  114164 non-null  object
 8   Cartons       113278 non-null  object
 9   Unnamed: 9    114164 non-null  object
 10  NetSales      112442 non-null  object
dtypes: object(11)
memory usage: 9.6+ MB
None

In [ ]:
#Preprocessing - chose the valuable columns

SelectedColumns = ['State', 'MonthNumeric', 'CustomerName', 'VisitorName', 'ProductName', 'ProductGroup', 'Cartons', 'NetSales']

NewData = Data[SelectedColumns]
print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114164 entries, 0 to 114163
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   State         114164 non-null  object
 1   MonthNumeric  114164 non-null  object
 2   CustomerName  114164 non-null  object
 3   VisitorName   114148 non-null  object
 4   ProductName   114164 non-null  object
 5   ProductGroup  114164 non-null  object
 6   Cartons       113278 non-null  object
 7   NetSales      112442 non-null  object
dtypes: object(8)
memory usage: 7.0+ MB
None

In [ ]:
#Preprocessing - define numeric codes for unique values

NewData['CustomerCode'] = NewData['CustomerName'].astype('category').cat.codes
NewData['VisitorCode'] = NewData['VisitorName'].astype('category').cat.codes
NewData['ProductCode'] = NewData['ProductName'].astype('category').cat.codes
NewData['ProductGroupCode'] = NewData['ProductGroup'].astype('category').cat.codes
print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114164 entries, 0 to 114163
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             114164 non-null  object
 1   MonthNumeric      114164 non-null  object
 2   CustomerName      114164 non-null  object
 3   VisitorName       114148 non-null  object
 4   ProductName       114164 non-null  object
 5   ProductGroup      114164 non-null  object
 6   Cartons           113278 non-null  object
 7   NetSales          112442 non-null  object
 8   CustomerCode      114164 non-null  int16
 9   VisitorCode       114164 non-null  int16
 10  ProductCode       114164 non-null  int16
 11  ProductGroupCode  114164 non-null  int8
dtypes: int16(3), int8(1), object(8)
memory usage: 7.7+ MB
None

<ipython-input-7-c2e3c920fda9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['CustomerCode'] = NewData['CustomerName'].astype('category').cat.codes
<ipython-input-7-c2e3c920fda9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['VisitorCode'] = NewData['VisitorName'].astype('category').cat.codes

In [ ]:
#Preprocessing - convert datatypes

NewData['MonthNumeric'] = NewData['MonthNumeric'].astype(int)

NumericColumns = ['NetSales', 'Cartons']

for column in NumericColumns:
    NewData[column] = pd.to_numeric(NewData[column], errors='coerce')

IdentifierColumns = ['CustomerCode', 'VisitorCode', 'ProductCode', 'ProductGroupCode']

for column in IdentifierColumns:
    NewData[column] = NewData[column].astype(str)

print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114164 entries, 0 to 114163
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             114164 non-null  object
 1   MonthNumeric      114164 non-null  int64
 2   CustomerName      114164 non-null  object
 3   VisitorName       114148 non-null  object
 4   ProductName       114164 non-null  object
 5   ProductGroup      114164 non-null  object
 6   Cartons           113278 non-null  float64
 7   NetSales          112442 non-null  float64
 8   CustomerCode      114164 non-null  object
 9   VisitorCode       114164 non-null  object
 10  ProductCode       114164 non-null  object
 11  ProductGroupCode  114164 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 10.5+ MB
None

In [ ]:
#Save the data to a dataframe and new csv file

FilePath = '/content/drive/MyDrive/Colab Notebooks/Branch-Cleaned.csv'
NewData.to_csv(FilePath, index=False)